{% extends 'login/base.html' %}
{% block title %}  Accueil {% endblock %}

{% block body %}
    <br />



    <h1>
        Bienvenue sur la Webapp du PA10 SYSICO
        <br/>{{ user.personne_set.get }}
    </h1>

    <img src="/media/sysico.jpg" id="img-sys" class="img-responsive" alt="Avatar">
    <div class="right" id="test">
        <div class="table-responsive" id="user-tab">
            <table class="table" style="background-color: light-grey">
            <thead>
                <tr>
                  <th>Autres Utilisateurs</th>
              </thead>
              <tbody>
                    {% for personne in object_list %}
                        {% if personne.usager != request.user %}
                <tr>
                    <td><a href="{% url 'login:detail' personne.slug %}" id="oth-user">{{ personne }}</a></td>

                </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

{% endblock%}